<div class="banner">
  <h1><%= @list.name %></h1>
  <div class="lbl-count"><%= @list.movies.count %> movies</div>
</div>

<div class="container">
  <nav>
    <h3></h3>
    <%= link_to "add a movie list", new_list_path, class: "btn btn-primary" %>
  </nav>

  <div class="cards">
    <% @list.bookmarks.each do |book| %>
    <div class="card-movie">
      <img src="<%= book.movie.poster_url %>" >
      <div class="card-desc">
        <div class="desc-top">
          <h4><%= book.movie.title %></h4>
          <p>&nbsp&nbsp&nbsp<%= book.movie.rating.round(1) %>&nbsp</p>
          <i class="fa-solid fa-star"></i>
        </div>
        <p><%= book.movie.overview %></p>
        <div class="desc-bottom">
          <div>
            <i class="fa-solid fa-quote-right"></i>
            <h5><%= book.comment %></h5>
          </div>
          <%= link_to "Delete", lists_path, class: "btn btn-delete" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
